* {
  box-sizing: border-box;
}

html {
  background-color: #3c3c3c;
  color: white;
  font-family: Helvetica;
}

h1 {
  text-align: center;
}

.button {
  background-color: #555;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  margin: 7px auto;
}

.round-button {
  width: 20px;
  display: inline-block;
  background-color: #555;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  transition: display 1s;
}

#overlay-body {
  position: fixed;
  width: 60%;
  padding: 20px;
  max-width: 1000px;
  top: 50%;
  left: 50%;
  background-color: #3c3c3c;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.loading-circle {
  margin: 0 auto;
  display: block;
  border: 12px solid #888;
  /* Light grey */
  border-top: 12px solid #7bbce8;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.invalid-text-input {
  border-color: red;
  outline: none;
}

.invalid-text-input:focus {
  border-color: red;
  box-shadow: 0 0 8px rgba(256, 0, 0, 0.6);
}

.game-request-container {
  display: inline-block;
  background-color: #555;
  padding: 10px;
  border-radius: 7px;
  margin: 10px;
}

.join-game-button {
  margin-top: 5px;
  background-color: #666;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.join-game-button:hover {
  background-color: #777;
}

#lobby-buttons {
  text-align: center;
}

#game-display {
  display: flex;
  justify-content: center;
}

ul.baraja-container li.card {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px 20px;
  border: 1px solid #222;
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.4);
}

.card h1 {
  margin: 0;
}

div.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.upside-down-text {
  text-align: left;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

ul.baraja-container li.card-color-blue, .bg-blue {
  background-color: #009;
}

ul.baraja-container li.card-color-red, .bg-red {
  background-color: #900;
}

ul.baraja-container li.card-color-green, .bg-green {
  background-color: #090;
}

ul.baraja-container li.card-color-yellow, .bg-yellow {
  background-color: #bb0;
}

.joined-players {
  text-align: center;
}

.marg-20 {
  margin-top: 20px;
}

.txt-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.quarter-circle-bottom-right {
  width: 100px;
  height: 100px;
  border-radius: 0 0 100px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}

.quarter-circle-bottom-left {
  width: 100px;
  height: 100px;
  border-radius: 0 0 0 100px;
  -moz-border-radius: 0 0 0 100px;
  -webkit-border-radius: 0 0 0 100px;
}

.quarter-circle-top-right {
  width: 100px;
  height: 100px;
  border-radius: 0 100px 0 0;
  -moz-border-radius: 0 100px 0 0;
  -webkit-border-radius: 0 100px 0 0;
}

.quarter-circle-top-left {
  width: 100px;
  height: 100px;
  border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
}

.quarter-circle {
  cursor: pointer;
  transition: transform 0.2s;
  transition: box-shadow 0.2s;
}

.quarter-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.7);
  transition-timing-function: ease-in-out;
  z-index: 10;
}

.selected-color {
  transform: scale(1.1);
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.7);
  transition-timing-function: ease-in-out;
  z-index: 9;
}

.circle-container {
  display: flex;
  flex-direction: column;
}

.circle-row {
  display: flex;
  flex-direction: row;
}

#chat-form input { 
	border: none; 
	padding: 5px 1rem; 
	flex-grow: 1; 
	border-radius: 2rem; 
	margin: 0.25rem; 
}

#chat-form input:focus { 
	outline: none; 
}

#chat-form .send-button { 
	background: #666; 
	border: none; 
	padding: 5px 1rem; 
	margin: 0.25rem; 
	border-radius: 3px; 
	outline: none; 
	color: #fff; 
	cursor: pointer;
}

#chat-form .send-button:hover { 
	background: #777; 
}

#chat-form { 
	display: flex;
}

#chat-container {
	width: 460px;
	padding: 10px;
	border-radius: 10px;
	background-color: #555;
}

#chat-log {
	height: 400px;
	margin-bottom: 10px;
	padding: 5px;
  overflow-y: scroll;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.chat-message .message-label {
	margin: 0 13px -3px 13px;
	font-size: 12px;
}

.chat-message .message {
	border-radius: 7px;
	padding: 10px;
	margin: 10px 10px 0 10px;
	max-width: 320px;
}

.chat-message.from-self {
	display: flex;
	align-items: flex-end;
}

.chat-message.from-self .message {
	background-color: #769656;
}

.chat-message.from-other {
	display: flex;
	align-items: flex-start;
}

.chat-message.from-other .message {
	background-color: #666;
}